.pages {
    margin-left: 60px;
    font-family: 'Playfair Display', serif;
}

.pages__h3 {
    margin-top: 20px;
}

.pages__currency-window {
    width: 20%;
    border: 1px solid gray;
    margin-left: 60px;
    margin-top:20px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.pages__currency-window_p {
    margin: 3px
}

@media (max-width: 768px) {
    .pages__currency-window {
        width: 50%;
        border: 1px solid gray;
        margin-left: 20px;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
    }
    .pages {
        margin-left: 20px;
    }
}